<script>
window['--routes'] = 'eyJpbmRleCI6Ii8iLCJkYXNoYm9hcmQiOiIvZGFzaGJvYXJkIiwiYXV0aC5sb2dpbiI6Ii9hdXRoL2xvZ2luIiwiYXV0aC5yZWdpc3RlciI6Ii9hdXRoL3JlZ2lzdGVyIiwiYXV0aC5sb2dvdXQiOiIvYXV0aC9sb2dvdXQifQ==';
</script>