<script>
window['--routes'] = 'eyJkb21haW5zIjoiL2FwaS9kb21haW5zIiwiZG9tYWlucy5kb21haW4udmlldyI6Ii9hcGkvZG9tYWlucy9fPz9fIiwiYXV0aCI6Ii9hdXRoIiwiYXV0aC5kYXNoYm9hcmQiOiIvYXV0aC9kYXNoYm9hcmQiLCJhdXRoLmxvZ2luIjoiL2F1dGgvbG9naW4iLCJhdXRoLnJlZ2lzdGVyIjoiL2F1dGgvcmVnaXN0ZXIiLCJhdXRoLmxvZ291dCI6Ii9hdXRoL2xvZ291dCIsImRhc2hib2FyZCI6Ii9hcHAifQ==';
</script>