<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{config('name')}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{mix('css/bundle.css')}}">
    <link rel="stylesheet" href="{{mix('css/app.css')}}">
</head>
<body>

@if(user)
    <section id="app"></section>
@else
    <section id="app" class="section">
        <div class="container">
            @!section('content')
        </div>
    </section>
@endif

@if(user)
    @include('--routes')
    <script>
        window['--appData'] = '{{{appData}}}';
    </script>
    <script src="{{mix('js/bundle.js')}}"></script>
    <script src="{{mix('js/app.js')}}"></script>
@endif
</body>
</html>