html, body {
  height: 100%;
  width: 100%;
  min-height: 100% !important;
  min-width: 100% !important;
  background-color: darken(#FAFAFA, 2%)
}

.app {
  margin-top: 10vh;
}

h1.brand {
  margin: 10vh 0;
  font-size: 100px;
}